EANavigator_Setup/bin/Debug/EANavigator_Setup.msi
EANavigator_Setup/bin/Debug/EANavigator_Setup.msi
EANavigator_Setup/bin/Debug/EANavigator_Setup.wixpdb
MagicdrawMigrator/MDMigratorController.cs
MagicdrawMigrator/Correctors/FixNavigabilityOnAssociations.cs