<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="MyAddin"
			connectionString="MyAddin.dll;True;1.0.0.0"
			providerName="EA-Matic" />
	</connectionStrings>
	<appSettings>
		<!-- access these values via the property:
			System.Configuration.ConfigurationManager.AppSettings[key]
		-->
	<add key="AddinSearchPaths" value="C:\Temp\EAAddins\"/>
 	</appSettings>
</configuration>
