<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
          <section name="AddinConfigSection" type="EAAddinManager.AddinConfigSection, EAAddinManager" />
	</configSections>
	<connectionStrings>
		<!-- Example connection to a SQL Server Database on localhost. -->
		<!-- <add name="ExampleConnectionString"
			connectionString="Data Source=.;Initial Catalog=DBName;Integrated Security=True"
			providerName="System.Data.SqlClient" /> -->
	</connectionStrings>
	<appSettings>
		<!-- access these values via the property:
			System.Configuration.ConfigurationManager.AppSettings[key]
		-->
	<add key="AddinDllLocation" value="C:\Temp\EAAddins\MyAddin\MyAddin.dll"/>
 	</appSettings>
	<AddinConfigSection>
		<addinConfigs>
			<AddinConfig 
			name="MyAddin" 
			version="1.0.0.0" 
			load="true" 
			dllPath="MyAddin.dll" />
		</addinConfigs>
	</AddinConfigSection>
</configuration>
