<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="imvertorURL" value="http://www.imvertor.org/" />
		<add key="urlPostFix" value="imvertor-executor/" />
		<add key="defaultPIN" value="456" />
		<add key="defaultProcessName" value="ChainTranslateAndReport:0.97" />
		<add key="defaultProperties" value="IMKAD compile" />
		<add key="defaultPropertiesFilePath" value="C:\temp\SampleApplication.1.properties" />
		<add key="defaultHistoryFilePath" value="C:\temp\SampleApplication.1.versiehistorie.xls" />
		<add key="imvertorStereotypes" value="toepassing,application,basismodel,base,koppelvlak,product,proces,service" />
		<add key="timeOutInSeconds" value="600" />
		<add key="retryInterval" value="3" />
		<add key="resultsPath" value="%appdata%\bellekens\EAImvertor\Results" />
		<add key="proxy" value="" />
		<add key="includeDiagrams" value="true" />
 	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
	