<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!-- Example connection to a SQL Server Database on localhost. -->
		<!-- <add name="ExampleConnectionString"
			connectionString="Data Source=.;Initial Catalog=DBName;Integrated Security=True"
			providerName="System.Data.SqlClient" /> -->
	</connectionStrings>
	<appSettings>
		<add key="imvertorURL" value="http://www.imvertor.org/"/>
		<add key="urlPostFix" value="imvertor-executor/"/>
		<add key="defaultPIN" value="456"/>
		<add key="defaultProcessName" value="ChainTranslateAndReport:0.97"/>
		<add key="defaultProperties" value="IMKAD compile"/>
		<add key="defaultPropertiesFilePath" value="C:\temp\SampleApplication.1.properties"/>
		<add key="defaultHistoryFilePath" value="C:\temp\SampleApplication.1.versiehistorie.xls"/>
		<add key="imvertorStereotypes" value="toepassing,application,basismodel,base,koppelvlak,product,proces,service"/>
		<add key="timeOutInSeconds" value="600"/>
		<add key="retryInterval" value="3"/>
		<add key="resultsPath" value="%appdata%\bellekens\EAImvertor\Results"/>
		<add key="proxy" value=""/>
		<add key="includeDiagrams" value="true"/>
 	</appSettings>
</configuration>
	