<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="menuOwnerEnabled" value="true"/>
		<add key="menuOperationEnabled" value="true" />
		<add key="menuDiagramsEnabled" value="false" />
		<add key="defaultAction" value="ProjectBrowser"/>
		<add key="toolbarVisible" value="true"/>
		<add key="contextMenu" value="false"/>
		<add key="trackSelectedElement" value="true" />
		<add key="quickSearchElements" value="true"/>
		<add key="quickSearchOperations" value="true"/>
		<add key="quickSearchAttributes" value="true"/>
		<add key="quickSearchDiagrams" value="true"/>
		<add key="quickSearchAddToDiagram" value="false"/>
		<add key="quickSearchSelectProjectBrowser" value="true"/>
    </appSettings>
</configuration>