<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="menuOwnerEnabled" value="true" />
		<add key="menuOperationEnabled" value="true" />
		<add key="menuDiagramsEnabled" value="false" />
		<add key="defaultAction" value="ProjectBrowser" />
		<add key="toolbarVisible" value="true" />
		<add key="contextMenu" value="false" />
		<add key="trackSelectedElement" value="true" />
		<add key="quickSearchElements" value="true" />
		<add key="quickSearchOperations" value="true" />
		<add key="quickSearchAttributes" value="true" />
		<add key="quickSearchDiagrams" value="true" />
		<add key="quickSearchAddToDiagram" value="false" />
		<add key="quickSearchSelectProjectBrowser" value="true" />
    </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>