<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<DirectoryRef Id="TARGETDIR">
			<Directory Id="ProgramFilesFolder" Name="PFiles">
				<Directory Id="INSTALLDIR" Name="EANavigator">
					<Component Id="EANavigatorFiles" Guid="DE2A4AFA-C6D9-45DB-90F5-57AE0758383D" DiskId="1">
						<File Id="LicenseFile" Name="license.rtf" Source="license.rtf" />
						<File Id="EAAddinFramework.dll" Name="EAAddinFramework.dll" Source="..\EANavigator\bin\Debug\EAAddinFramework.dll" />
						<File Id="EAAddinFramework.pdb" Name="EAAddinFramework.pdb" Source="..\EANavigator\bin\Debug\EAAddinFramework.pdb" />
						<File Id="EANavigator.pdb" Name="EANavigator.pdb" Source="..\EANavigator\bin\Debug\EANavigator.pdb" />
						<File Id="EANavigator.tlb" Name="EANavigator.tlb" Source="..\EANavigator\bin\Debug\EANavigator.tlb" />
						<File Id="Interop.EA.dll" Name="Interop.EA.dll" Source="..\EANavigator\bin\Debug\Interop.EA.dll" />
						<File Id="UMLToolingFramework.dll" Name="UMLToolingFramework.dll" Source="..\EANavigator\bin\Debug\UMLToolingFramework.dll" />
						<File Id="UMLToolingFramework.pdb" Name="UMLToolingFramework.pdb" Source="..\EANavigator\bin\Debug\UMLToolingFramework.pdb" />
						<Class Id="{44699D83-4400-33BA-823C-5BD3E93005B6}" Context="InprocServer32" Description="TSF.UmlToolingFramework.EANavigator.EAAddin" ThreadingModel="both" ForeignServer="mscoree.dll">
							<ProgId Id="TSF.UmlToolingFramework.EANavigator.EAAddin" Description="TSF.UmlToolingFramework.EANavigator.EAAddin" />
						</Class>
						<File Id="EANavigator.dll" Name="EANavigator.dll" KeyPath="yes" Source="..\EANavigator\bin\Debug\EANavigator.dll" />
						<RegistryValue Root="HKCR" Key="CLSID\{44699D83-4400-33BA-823C-5BD3E93005B6}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
						<RegistryValue Root="HKCR" Key="CLSID\{44699D83-4400-33BA-823C-5BD3E93005B6}\InprocServer32\1.0.0.0" Name="Class" Value="TSF.UmlToolingFramework.EANavigator.EAAddin" Type="string" Action="write" />
						<RegistryValue Root="HKCR" Key="CLSID\{44699D83-4400-33BA-823C-5BD3E93005B6}\InprocServer32\1.0.0.0" Name="Assembly" Value="EANavigator, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
						<RegistryValue Root="HKCR" Key="CLSID\{44699D83-4400-33BA-823C-5BD3E93005B6}\InprocServer32\1.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
						<RegistryValue Root="HKCR" Key="CLSID\{44699D83-4400-33BA-823C-5BD3E93005B6}\InprocServer32\1.0.0.0" Name="CodeBase" Value="file:///[#EANavigator.dll]" Type="string" Action="write" />
						<RegistryValue Root="HKCR" Key="CLSID\{44699D83-4400-33BA-823C-5BD3E93005B6}\InprocServer32" Name="Class" Value="TSF.UmlToolingFramework.EANavigator.EAAddin" Type="string" Action="write" />
						<RegistryValue Root="HKCR" Key="CLSID\{44699D83-4400-33BA-823C-5BD3E93005B6}\InprocServer32" Name="Assembly" Value="EANavigator, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
						<RegistryValue Root="HKCR" Key="CLSID\{44699D83-4400-33BA-823C-5BD3E93005B6}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
						<RegistryValue Root="HKCR" Key="CLSID\{44699D83-4400-33BA-823C-5BD3E93005B6}\InprocServer32" Name="CodeBase" Value="file:///[#EANavigator.dll]" Type="string" Action="write" />
					</Component>
					<Component Id="RegistryEntry" Guid="94CE2F68-545D-4FAC-80F9-10888BFAAF06" UninstallWhenSuperseded="yes">
						<RegistryKey Root="HKCU" Key="Software\Sparx Systems\EAAddins\EANavigator" Action="createAndRemoveOnUninstall">
							<RegistryValue Type="string" Value="TSF.UmlToolingFramework.EANavigator.EAAddin" />
						</RegistryKey>
					</Component>
				</Directory>
			</Directory>
		</DirectoryRef>
	</Fragment>
</Wix>
