<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*"
		Name="EA Navigator"
		Language="1033"
		Version="2.4.18.0"
		UpgradeCode="410992DC-63BF-45BE-A8B7-6732B818BE32"
		Manufacturer="Geert Bellekens">
		<Package Description="Windows installer for EA Navigator 2.4.18.0"
			Comments="Execute to install EA Navigator 2.4.18.0"
			InstallerVersion="200"
			Compressed="yes"/>
		
		<Icon Id="navigator_icon.exe" SourceFile="..\EANavigator\Files\Navigator_icon.ico"/>
		<Property Id="ARPPRODUCTICON" Value="navigator_icon.exe" />
		
		<!--
			Source media for the installation. 
 			Specifies a single cab file to be embedded in the installer's .msi. 
		-->
		<Media Id="1" Cabinet="contents.cab" EmbedCab="yes" CompressionLevel="high"/>
		
		<Upgrade Id="410992DC-63BF-45BE-A8B7-6732B818BE32">
      	<UpgradeVersion Minimum="2.4.18.0"
                      IncludeMinimum="no"
                      OnlyDetect="yes"
                      Language="1033"
                      Property="NEWPRODUCTFOUND" />
     	<UpgradeVersion Minimum="1.0.0.0"
                      IncludeMinimum="yes"
                      Maximum="2.4.18.0"
                      IncludeMaximum="no"
                      Language="1033"
                      Property="UPGRADEFOUND" />
    	</Upgrade>
		
		<!-- Installation directory and files are defined in Files.wxs -->
		<Directory Id="TARGETDIR" Name="SourceDir"/>
		
		<Feature Id="Complete"
		         Title="EA Navigator"
		         Description="The Enterprise Architect Add-in"
		         Level="1">
		         <ComponentRef Id="EANavigatorFiles"/>
				 <ComponentRef Id="RegistryEntry"/>
		</Feature>
		<!-- Check for .Net framework 4.0 Client-->
		<Property Id="NETFRAMEWORK40CL">
		    <RegistrySearch Id="NetFramework40Cl"
		                    Root="HKLM"
		                    Key="SOFTWARE\Microsoft\NET Framework Setup\NDP\v4\Client"
             				Name="Install"
                    		Type="raw" />
		</Property>
		<!-- Check for .Net framework 4.0 Full-->
		<Property Id="NETFRAMEWORK40FULL">
		    <RegistrySearch Id="NetFramework40FULL"
		                    Root="HKLM"
		                    Key="SOFTWARE\Microsoft\NET Framework Setup\NDP\v4\Client"
             				Name="Install"
                    		Type="raw" />
		</Property>
		
		<Condition Message="This application requires .NET Framework v4. Please install the .NET Framework then run this installer again.">
   		 <![CDATA[Installed OR NETFRAMEWORK40CL OR NETFRAMEWORK40FULL]]>
		</Condition>
		
		<!-- 
			Using the Wix UI library
 
			WixUI_InstallDir does not allow the user to choose 
			features but adds a dialog to let the user choose a 
			directory where the product will be installed
		-->
		<Property Id="WIXUI_INSTALLDIR">INSTALLDIR</Property>
		<UIRef Id="WixUI_InstallDir"/>
	    <!-- Prevent downgrading -->
    <CustomAction Id="PreventDowngrading" Error="Newer version already installed." />
 
    <!-- Sequences -->
    <InstallExecuteSequence>
      <Custom Action="PreventDowngrading" After="FindRelatedProducts">NEWPRODUCTFOUND</Custom>
      <RemoveExistingProducts After="InstallValidate" />
    </InstallExecuteSequence>
   
    <InstallUISequence>
      <Custom Action="PreventDowngrading" After="FindRelatedProducts">NEWPRODUCTFOUND</Custom>
    </InstallUISequence>
	</Product>
</Wix>
