<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!-- Example connection to a SQL Server Database on localhost. -->
		<!-- <add name="ExampleConnectionString"
			connectionString="Data Source=.;Initial Catalog=DBName;Integrated Security=True"
			providerName="System.Data.SqlClient" /> -->
	</connectionStrings>
	<appSettings>
		<!-- access these values via the property:
			System.Configuration.ConfigurationManager.AppSettings[key]
		-->
		<add key="useTaggedValues" value="true" />
		<add key="linkedAttributeTagName" value="linkedAttribute" />
		<add key="linkedAssociationTagName" value="linkedAssociation" />
		<add key="linkedElementTagName" value="sourceElement" />
		<add key="useInlineMappingLogic" value="false" />
		<add key="mappingLogicType" value="Activity" />
		<add key="outputName" value="EA Mapper" />
		<add key="contextQuery" value="select fis.Object_ID 
from (((((t_object o 
inner join t_connector tr on (tr.Start_Object_ID = o.Object_ID
						  and  tr.Connector_Type = 'Abstraction'
						  and tr.Stereotype = 'trace'))
inner join t_object o2 on (o2.Object_ID = tr.End_Object_ID
						and o2.Name = o.Name
						and o2.Object_Type = o.Object_Type))
inner join t_connector rel1 on (rel1.Start_Object_ID = o2.Object_ID
						and rel1.Connector_Type in ('Realization', 'Realisation')))
inner join t_connector rel2 on (rel2.Start_Object_ID = rel1.End_Object_ID
						and rel2.Connector_Type in ('Realization', 'Realisation')))
inner join t_object fis on fis.Object_ID = rel2.End_Object_ID)
where o.ea_guid = '#ea_guid#'
union
select fis.Object_ID 
from (((t_object o 
inner join t_connector rel1 on (rel1.Start_Object_ID = o.Object_ID
						and rel1.Connector_Type in ('Realization', 'Realisation')))
inner join t_connector rel2 on (rel2.Start_Object_ID = rel1.End_Object_ID
						and rel2.Connector_Type in ('Realization', 'Realisation')))
inner join t_object fis on fis.Object_ID = rel2.End_Object_ID)
where o.ea_guid = '#ea_guid#'" />
	</appSettings>
</configuration>
