<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!-- Example connection to a SQL Server Database on localhost. -->
		<!-- <add name="ExampleConnectionString"
			connectionString="Data Source=.;Initial Catalog=DBName;Integrated Security=True"
			providerName="System.Data.SqlClient" /> -->
	</connectionStrings>
	<appSettings>
		<!-- access these values via the property:
			System.Configuration.ConfigurationManager.AppSettings[key]
		-->
		<add key="useTaggedValues" value="true" />
		<add key="linkedAttributeTagName" value="linkedAttribute" />
    <add key="linkedAssociationTagName" value="linkedAssociation" />
    <add key="linkedElementTagName" value="sourceElement" />
		<add key="useInlineMappingLogic" value="false" />
		<add key="mappingLogicType" value="Activity" />
		<add key="outputName" value="EA Mapper" />
	
 	</appSettings>
</configuration>
