<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ERXImporter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <ERXImporter.Properties.Settings>
            <setting name="ERXServer" serializeAs="String">
                <value>DESKTOP-LCVMLKT\SQLEXPRESS</value>
            </setting>
            <setting name="ERXDatabase" serializeAs="String">
                <value>ERX</value>
            </setting>
            <setting name="CMSServer" serializeAs="String">
                <value>DESKTOP-LCVMLKT\SQLEXPRESS01</value>
            </setting>
            <setting name="CMSDatabase" serializeAs="String">
                <value>CMS</value>
            </setting>
        </ERXImporter.Properties.Settings>
    </applicationSettings>
</configuration>
