<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ignoredTaggedValues" value="sequenceKey" />
    <add key="ignoredStereotypes" value="MessageAssembly" />
    <add key="addDataTypes" value="true" />
    <add key="copyDataTypes" value="false" />
    <add key="addSourceElements" value="false" />
    <add key="limitDataTypes" value="false" />
    <add key="dataTypesToCopy" value="" />
    <add key="copyDataTypeGeneralizations" value="false" />
    <add key="copyGeneralizations" value="false" />
    <add key="copyAllGeneralizations" value="true" />
    <add key="sourceAttributeTagName" value="sourceAttribute" />
    <add key="sourceAssociationTagName" value="sourceAssociation" />
    <add key="redirectGeneralizationsToSubset" value="false" />
    <add key="prefixNotes" value="false" />
    <add key="prefixNotesText" value="" />
    <add key="checkSecurity" value="false" />
    <add key="outputName" value="EA Message Composer" />
    <add key="deleteUnusedSchemaElements" value="true" />
    <add key="usePackageSchemasOnly" value="false" />
    <add key="hiddenElementTypes" value="" />
    <add key="dontCreateAttributeDependencies" value="false" />
    <add key="orderAssociationsAlphabetically" value="false" />
    <add key="orderAssociationsAmongstAttributes" value="false" />
    <add key="tvInsteadOfTrace" value="false" />
    <add key="elementTagName" value="sourceElement" />
    <add key="keepOriginalAttributeOrder" value="false" />
    <add key="generateToArtifactPackage" value="false" />
    <add key="generateDiagram" value="true" />
    <add key="setAttributeOrderZero" value="false" />
    <add key="orderXmlChoiceBeforeAttributes" value="false" />
    <add key="keepNotesInSync" value="false" />
    <add key="ignoredConstraintTypes" value="Subset" />
    <add key="customPositionTag" value="customPosition" />
    <add key="synchronizedTaggedValues" value="BusinessKeyAttribute,BusinessKeyAssociation" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
	<add key="useAliasForRedefinedElements" value="false" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>