<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!-- Example connection to a SQL Server Database on localhost. -->
		<!-- <add name="ExampleConnectionString"
			connectionString="Data Source=.;Initial Catalog=DBName;Integrated Security=True"
			providerName="System.Data.SqlClient" /> -->
	</connectionStrings>
	<appSettings>
		<!-- access these values via the property:
			System.Configuration.ConfigurationManager.AppSettings[key]
		-->
		<add key="ignoredTaggedValues" value="sequenceKey" />
		<add key="ignoredStereotypes" value="MessageAssembly" />
		<add key="addDataTypes" value="true" />
    	<add key="copyDataTypes" value="false" />
		<add key="addSourceElements" value="false" />
		<add key="limitDataTypes" value="false" />
		<add key="dataTypesToCopy" value="" />	
		<add key="copyDataTypeGeneralizations" value="false" />
		<add key="copyGeneralizations" value="false" />
		<add key="sourceAttributeTagName" value="sourceAttribute" />
        <add key="sourceAssociationTagName" value="sourceAssociation" />
		<add key="redirectGeneralizationsToSubset" value="false" />
		<add key="prefixNotes" value="false" />
		<add key="prefixNotesText" value="" />
		<add key="checkSecurity" value="false" />
		<add key="outputName" value="EA Message Composer" />
		<add key="deleteUnusedSchemaElements" value="true" />
		<add key="usePackageSchemasOnly" value="false" />
		<add key="hiddenElementTypes" value="" />
		<add key="dontCreateAttributeDependencies" value="false" />
		<add key="orderAssociationsAlphabetically" value="false" />
		<add key="orderAssociationsAmongstAttributes" value="false" />
		<add key="tvInsteadOfTrace" value="false" />
		<add key="elementTagName" value="sourceElement"/>
 	</appSettings>
</configuration>
