<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="projectConnections" value="{61A18DC7-8461-4d52-A0FE-30DC97E6ED29};https://tfs.realdolmen.com/tfs/" />
		<add key="defaultProject" value="172 N ProjectFactory PocDotNet" />
		<add key="workitemMappings" value="Requirement;Feature,UseCase;User Story,Archimate2::ArchiMate_Requirement;Feature" />
		<add key="defaultUserName" value="" />
		<add key="defaultWorkitemType" value="Feature" />
		<add key="defaultStatus" value="New" />
		<add key="TFSFilterTag" value="Sparx" />
		<add key="defaultCollection" value="DefaultCollection/" />
 	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="12.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
