<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!-- Example connection to a SQL Server Database on localhost. -->
		<!-- <add name="ExampleConnectionString"
			connectionString="Data Source=.;Initial Catalog=DBName;Integrated Security=True"
			providerName="System.Data.SqlClient" /> -->
	</connectionStrings>
	<appSettings>
		<!-- access these values via the property:
			System.Configuration.ConfigurationManager.AppSettings[key]
		-->
		<add key="projectConnections" value="{61A18DC7-8461-4d52-A0FE-30DC97E6ED29};https://tfs.realdolmen.com/tfs/"/>
		<add key="defaultProject" value="172 N ProjectFactory PocDotNet"/>
		<add key="workitemMappings" value="Requirement;Feature,UseCase;User Story,Archimate2::ArchiMate_Requirement;Feature"/>
		<add key="defaultUserName" value=""/>
		<add key="defaultWorkitemType" value="Feature"/>
		<add key="defaultStatus" value="New"/>
		<add key="TFSFilterTag" value="Sparx"/>
		<add key="defaultCollection" value="DefaultCollection/"/>
 	</appSettings>
</configuration>
