<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="outputName" value="EA Validator" />
    <add key="ValidationChecks_Directory" value="G:\Projects\80 Enterprise Architect\Tools\EA Validator\Checks" />
    <add key="SearchTermInQueryToFindElements" value="#SearchTerm#" />
    <add key="ElementGuidsInQueryToCheckFoundElements" value="#ElementGuids#" />
    <add key="PackageBranch" value="#Branch#" />
    <add key="ValidationChecks_Documenttype" value="xml" />
    <add key="XML_CheckMainNode" value="/Check" />
    <add key="AllowedRepositoryTypes" value="SQLSVR" />
    <add key="QueryExcludeArchivedPackages" value="AND (p.name not like '%deleted%' AND p.name not like '%archive%' AND p.name not like '%old%') AND (package_p1.name is null or (package_p1.name not like '%deleted%' AND package_p1.name not like '%archive%' AND package_p1.name not like '%old%')) AND (package_p2.name is null or (package_p2.name not like '%deleted%' AND package_p2.name not like '%archive%' AND package_p2.name not like '%old%')) AND (package_p3.name is null or (package_p3.name not like '%deleted%' AND package_p3.name not like '%archive%' AND package_p3.name not like '%old%')) AND (package_p4.name is null or (package_p4.name not like '%deleted%' AND package_p4.name not like '%archive%' AND package_p4.name not like '%old%')) AND (package_p5.name is null or (package_p5.name not like '%deleted%' AND package_p5.name not like '%archive%' AND package_p5.name not like '%old%'))" />
    <add key="logToSystemOutput" value="false" />
    <add key="excludeArchivedPackages" value="true" />
    <add key="scopeElementTypes" value="Change,Package" />
    <add key="scopeDiagramTypes" value="Use Case" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>