<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
  <appSettings>
    <!-- access these values via the property:
			System.Configuration.ConfigurationManager.AppSettings[key]
		-->

    <add key="ValidationChecks_Directory" value="G:\Projects\80 Enterprise Architect\Tools\EA Validator\Checks"/>
    <add key="SearchTermInQuery" value="#SearchTerm#"/>
    <add key="ValidationChecks_Documenttype" value="xml"/>
    <add key="XML_CheckMainNode" value="/Check"/>
    <add key="AllowedRepositoryTypes" value="SQLSVR"/>
    <add key="SearchElementTypes" value="Change, Package"/>
    <add key="QueryExcludeArchivedPackages" value="AND (p.name not like '%deleted%' AND p.name not like '%archive%' AND p.name not like '%old%')&#xD;&#xA;AND (package_p1.name is null or (package_p1.name not like '%deleted%' AND package_p1.name not like '%archive%' AND package_p1.name not like '%old%'))&#xD;&#xA;AND (package_p2.name is null or (package_p2.name not like '%deleted%' AND package_p2.name not like '%archive%' AND package_p2.name not like '%old%'))&#xD;&#xA;AND (package_p3.name is null or (package_p3.name not like '%deleted%' AND package_p3.name not like '%archive%' AND package_p3.name not like '%old%'))&#xD;&#xA;AND (package_p4.name is null or (package_p4.name not like '%deleted%' AND package_p4.name not like '%archive%' AND package_p4.name not like '%old%'))&#xD;&#xA;AND (package_p5.name is null or (package_p5.name not like '%deleted%' AND package_p5.name not like '%archive%' AND package_p5.name not like '%old%'))"




                                                                                                                                                      />
  </appSettings>
</configuration>
