<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!-- Example connection to a SQL Server Database on localhost. -->
		<!-- <add name="ExampleConnectionString"
			connectionString="Data Source=.;Initial Catalog=DBName;Integrated Security=True"
			providerName="System.Data.SqlClient" /> -->
	</connectionStrings>
	<appSettings>
		<add key="abbreviationsPath" value="c:\temp\Acerta Abbrev Master.csv"/>
		<add key="outputName" value="Database Transformer"/>
 	</appSettings>
</configuration>
